<head>
  <title>emmersive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.bootstrap.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.js"></script>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/">
</head>

<body>
  <div ng-app="emmersive">

    <nav class="black" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><img src="/emmersive.png" class="responsive-img"></a>

          <ul class="right hide-on-med-and-down">
            <li><a href="/projects">Discover</a></li>
            <li ng-if="currentUser"><a href="/projects/new">Start a Project</a></li>
            <li ng-if="currentUser"><a href="/me">My Profile</a></li>
            <li><blaze-template name="loginButtons"></blaze-template></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="/projects">Discover</a></li>
            <li><a href="/projects/new">Start a Project</a></li>
            <li ng-if="currentUser"><a href="/me">My Profile</a></li>
            <li><blaze-template name="loginButtons"></blaze-template></li>
          </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div ng-class="($location.path() === '/') ? 'fullPage' : 'container'"> 
      <div class="section">
        <div ui-view></div>
      </div>
    </div>

    <footer class="page-footer grey darken-1">
      <div class="footer-copyright">
        <div class="container">
          Made with <span class="orange-text text-lighten-3">Whiskey</span>
        </div>
      </div>
    </footer>

  </div> 
</body>
